.dash-main {
    display: flex;
}

.dash-main-top {
    display: flex;
    background-color: white;
    width: 60%;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.dash-sub-top {
    display: flex;
}

.dash-sub-top > span > div {
    color:grey;
    margin-top: 5px;
    font-size: 12px;
}

.dash-sub-top > span > span {
    font-size: medium;
}

.dash-main-right-column {
    width: 32vh;
}

.dash-main-right-column-messages {
    display: flex;
    justify-content: space-between;
}

.messages-main {
    margin: 20px 0 0 8px;
}

.messages-main > div:first-child{
    font-size: small;
    margin-bottom: 4px;
}

.messages-main > div:last-child{
    font-size: xx-small;
    color: grey;
}