.mainContainer {
  display: flex;
  justify-content: flex-start;
}

.middleContainer {
  width: 100%;
  margin: 0 2% 0 17.5%;
  margin-top: 1%;
}

.studentDetail {
  margin: 30px 15px 0 40px;
}

.profileMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileName > p {
  font-weight: bold;
  font-size: 10px;
  margin-right: 8px;
}

.profileAvatar {
  background-color: #c1bbeb;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addStudent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5dbc67;
  border: none;
  border-radius: 50px;
  color: white;
  /* height: 40px; */
  width: 12%;
  font-weight: 600;
}

.mainMiddleContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.personalDetail {
  width: 100%;
  height: max-content;
}

.commonFormHeader {
  background-color: #5dbc67;
  height: 5vh;
  width: 97.5%;
  border-radius: 13px 13px 0 0;
  display: flex;
  align-items: center;
}

.commonFormHeader p {
  margin-left: 2%;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.personalDetailsForm {
  width: 97.5%;
  background-color: white;
  border-radius: 0 0 13px 13px;
  display: flex;
}

.commonFormDiv {
  display: flex;
  flex-direction: column;
  width: 39%;
  padding: 2% 0 0 2%;
  margin-bottom: 2%;
}

.commonFormDiv,
.studentForm label {
  font-size: 1.3rem;
  font-weight: bold;
  color: #303972;
  margin-bottom: 2.5%;
}

.commonFormDiv input,
textarea {
  border: 1px solid #c1bbeb;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 2.5%;
  color: #a098ae;
  resize: none;
}

.education {
  margin-top: 3%;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5dbc67;
  border: none;
  border-radius: 50px;
  color: white;
  height: 40px;
  width: 12%;
  font-weight: 600;
}

.submitFormButton {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}

.pdfRightDiv textarea {
  height: 105px;
  width: 105px;
  border: 1px dashed #c1bbeb;
}

.studentForm {
  display: flex;
  flex-direction: column;
  width: 13%;
  padding: 2% 0 0 2%;
  margin-bottom: 2%;
}

.studentForm textarea {
  border: 1px dashed #c1bbeb;
}

.subjects {
  padding: 0 2.5% 0 2.5%;
  background-color: white;
  width: 92.5%;
  border-radius: 15px;
  height: fit-content;
  margin-bottom: 2.5%;
}

.subjectHeader {
  display: flex;
  justify-content: space-between;
}

.subjectHeader > p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #303972;
}

.subjectTab {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.subjectTab > p {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 5%;
  color: #a098ae;
}

.activeSubjectTab {
  font-weight: bold;
  font-size: 0.9rem;
  color: #5dbc67 !important;
  border-bottom: 2px solid #5dbc67;
  padding: 5%;
}

.subjectDetails {
  width: 100%;
  padding: 2% 0 2% 0;
}

.analysisLectureDiv {
  display: flex;
  width: inherit;
}

.analysisLecMainDiv {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-right: 3%;
}

.lectureDetail {
  background-color: white;
  border-radius: 12px;
  margin-top: 5%;
  padding: 3%;
}

.lectureDetail > p {
  color: #303972;
  font-size: 1.2rem;
}

.lectureDetailHeader {
  color: #303972;
  font-size: 1.5rem;
  font-weight: bolder;
}
