.modal-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

.modal-field {
    display: flex;
    flex-direction: column;
    margin: 0 0 3vh 0;
}

.modal-field > label {
    color: #303972;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

.modal-field > input {
    border: 1px solid #c1bbeb;
    height: 25px;
    border-radius: 5px;
    color: #535868;
    background-color: #f3f6f8;
}

.modal-main > button {
    font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  color: #f3f6f8;
  background-color: #5dbc67 !important;
  border-bottom: 2px solid #5dbc67;
  border-color: #24a34a;
  padding: 2.5%;
}
