.teacherCard {
  width: 14.5vw;
  height: 30vh;
  margin-top: 3%;
  margin-right: 2%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.contact > button {
  border: none;
  background-color: #5dbc67;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionButton {
  position: absolute;
  left: 83%;
  top: 2%;
  border: none;
  background: white;
}

.teachersDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacherName {
  margin-bottom: 0em;
  font-weight: bold;
  color: #303972;
}

.teacherSpecialist {
  font-size: small;
  font-weight: bold;
  color: #a098ae;
}

.contact button img {
  width: 20px;
}
