.analysisLecSideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.analysisSideBarTopics {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;
  border-radius: 12px;
}

.analysisSideBarTopics > p {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #303972;
  /* margin-bottom: 0%; */
}
