.dash-main {
  display: flex;
  width: 100%;
  margin: 1% 0 0 17.5%;
}

.dash-main-top {
  display: flex;
  background-color: white;
  width: 60%;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}

.dash-sub-top {
  display: flex;
}

.dash-sub-top > span > div {
  color: grey;
  margin-top: 5px;
  font-size: 12px;
}

.dash-sub-top > span > span {
  font-size: medium;
}

.dash-main-right-column {
  width: 32vh;
}

.dash-main-right-column-messages {
  display: flex;
  justify-content: space-between;
}

.messages-main {
  margin: 20px 0 0 8px;
}

.messages-main > div:first-child {
  font-size: small;
  margin-bottom: 4px;
}

.messages-main > div:last-child {
  font-size: xx-small;
  color: grey;
}

.dash-main-right-column-notifications {
  display: flex;
  justify-content: space-between;
}

.notifications-main {
  margin: 20px 0 0 8px;
}

.notifications-main > div:first-child {
  font-size: small;
  margin-bottom: 4px;
}

.notifications-main > div:last-child {
  font-size: xx-small;
  color: grey;
}

.mainContainer {
  display: flex;
  justify-content: flex-start;
}

.middleContainer {
  width: 100%;
  margin: 1% 2.5% 0 17.5%;
}

.mainMiddleContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.subjects {
  padding: 0 2.5% 0 2.5%;
  background-color: white;
  width: 92.5%;
  border-radius: 15px;
  height: fit-content;
  margin-bottom: 2.5%;
}

.subjectHeader {
  display: flex;
  justify-content: space-between;
}

.subjectHeader > p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #303972;
}

.subjectTab {
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.subjectTab > p {
  font-weight: bold;
  font-size: 0.9rem;
  padding: 5%;
  color: #a098ae;
}

.activeSubjectTab {
  font-weight: bold;
  font-size: 0.9rem;
  color: #5dbc67 !important;
  border-bottom: 2px solid #5dbc67;
  padding: 5%;
}

.subjectDetails {
  width: 100%;
  padding: 2% 0 2% 0;
}

.topHeader > p {
  color: #303972;
  font-size: 2.2rem;
  font-weight: bold;
}

.dashContanier {
  width: 75%;
}

.rightContainer {
  width: 25%;
}
