.container {
  position: fixed;
  display: flex;
  background-color: #5dbc67;
  width: 15vw;
  height: 100vh;
  justify-content: flex-start;
  flex-direction: column;
}

.schoolName {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  width: 100%;
}

.schoolName p {
  color: white;
  font-weight: bold;
  margin-left: 6%;
  font-size: 2.4rem;
}

.schoolName img {
  width: 15%;
}

.menuItems {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
}

.dashBoardButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4% 0 3.4% 10%;
  margin-left: 12%;
  width: 100%;
}

.activeDashBoardButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4rem 0 0.4rem 2.3rem;
  margin-left: 2.2rem;
  border-radius: 4rem 0 0 4rem;
  background-color: #f3f4ff;
}

.activeDashBoardButton > img {
  width: 13%;
  margin-right: 1rem;
  filter: invert(1);
}

.activeDashBoardButton > p {
  color: #5dbc67;
  font-weight: 600;
  font-size: 1.3rem;
}

.dashBoardButton img {
  width: 13%;
  margin-right: 10%;
  filter: invert(1);
}

.dashBoardButton > p {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}
