.mainContainer {
  display: flex;
  justify-content: flex-start;
}

.middleContainer {
  width: 100%;
  margin-left: 14.5%;
  margin-top: 1%;
}

.topHeader > p {
  padding-left: 2.5%;
  color: #303972;
  font-size: 2.2rem;
  font-weight: bold;
}

.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2.5%;
}

.middleHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 0 25px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.promoContainer {
  display: flex;
  width: 12%;
  justify-content: space-evenly;
}

.studentDetail {
  margin: 30px 15px 0 40px;
}

.profileMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileName > p {
  font-weight: bold;
  font-size: 10px;
  margin-right: 8px;
}

.profileAvatar {
  background-color: #c1bbeb;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.teacherList {
  margin-left: 2%;
}

.teacherListRow1,
.teacherListRow2,
.teacherListRow3 {
  display: flex;
  justify-content: center;
}
